* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  height: 100vh;
  overflow: auto;
  background-image: linear-gradient(#fdbbff, #fc7676);
}

.home h1 {
  color: #000000;
  font-size: 4rem;
  margin: 20px 10rem;
  text-align: center;
}

.logo {
  width: 60px;
}

.loading-message {
  color: #949fe8;
  text-align: center;
  margin-top: 25px;
}

@media screen and (max-width: 400px) {
  .home h1 {
    font-size: 2rem;
    margin: 20px;
  }
}
