.new-review-container {
  max-width: 350px;
  margin: 20px auto;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.new-review-container div {
  padding: 10px;
}

.new-review-container,
.new-review-container span {
  color: #c82966;
}

.new-review-form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-review-form div input {
  width: 50%;
}

.avatars-picture-container label {
  padding: 0;
  line-height: 0;
}

.avatars-picture-container span {
  font-weight: 100;
  font-size: 16px;
  padding-left: 16px;
  margin: 0;
}

.new-review-form textarea {
  line-height: 2;
  padding: 0 0.5rem;
  background-color: #fffcfc;
  margin: 0 1rem;
  border-radius: 10px;
  border: none;
}

.radio-options {
  height: 25px;
}

.new-review-form .buttons {
  justify-content: flex-end;
  margin: 16px;
  gap: 10px;
}

.buttons button {
  color: #c82966;
  font-size: large;
  margin-right: 5px;
  background-color: #f2f2f2;
  border: white;
  padding: 5px;
}

.buttons button:hover {
  color: white;
  border-radius: 5px;
}
