.image-container img {
  width: 200px;
  height: 200px;
  border-radius: 5px 0 0 5px;
}

.service-container {
  box-shadow: #515151 0px 0px 20px 4px;
  background-color: white;
  border-radius: 5px;
  margin: 50px 100px;
  gap: 1em;
  display: flex;
  align-items: center;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service-title {
  color: #949fe8;
}

span {
  color: #949fe8;
  font-size: 1.5rem;
  margin: 0 10px;
  font-weight: 600;
}

.service-container button {
  color: #949fe8;
  font-size: large;
  margin-right: 5px;
  background-color: white;
  border: white;
  padding: 5px;
}

.service-container button:hover {
  background-color: #949fe8;
  color: white;
  border-radius: 5px;
}

.blur-background {
  filter: blur(1px);
}
