img {
  width: 250px;
  height: 100%;
}

.service-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin: 50px 100px;
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: center;
}

span {
  color: rgb(227, 80, 154);
  font-size: 25px;
  margin: 0 10px;
  font-weight: 600;
}
